absl-py==2.3.1
accelerate==1.11.0
adversarial-robustness-toolbox==1.20.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
art==6.5
arxiv==2.2.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.4.0
babe==0.0.7
babel==2.17.0
beartype==0.14.1
beautifulsoup4==4.14.2
better-abc==0.0.3
biopython==1.86
biotite==1.5.0
biotraj==1.2.2
bleach==6.3.0
boto3==1.40.69
botocore==1.40.69
brotli==1.2.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
choreographer==1.2.1
click==8.3.0
cloudpathlib==0.23.0
comm==0.2.3
config2py==0.1.44
contourpy==1.3.3
cycler==0.12.1
datasets==4.4.1
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
dna_features_viewer==3.1.5
docstring_parser==0.17.0
dol==0.3.31
einops==0.8.1
et_xmlfile==2.0.0
executing==2.2.1
fair-esm==2.0.0
fancy-einsum==0.0.3
fastjsonschema==2.21.2
feedparser==6.0.12
filelock==3.19.1
flatbuffers==25.9.23
fonttools==4.60.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.9.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-pasta==0.2.0
graze==0.1.39
grpcio==1.75.1
h11==0.16.0
h5py==3.15.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
i2==0.1.58
idna==3.10
importlib_resources==6.5.2
iniconfig==2.3.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jaxtyping==0.3.3
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kaleido==1.2.0
keras==3.11.3
kiwisolver==1.4.9
lark==1.3.1
libclang==18.1.1
logistro==2.0.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.1.4
ml_dtypes==0.5.3
mpmath==1.3.0
msgpack==1.1.2
msgpack-numpy==0.4.8
multidict==6.7.0
multiprocess==0.70.18
namex==0.1.0
narwhals==2.10.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numpy==1.26.4
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.7
packaging @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b31rpdx1of/croot/packaging_1753775365574/work
pandas==2.3.2
pandas-stubs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1e3tmh13y_/croot/pandas-stubs_1742460569340/work
pandocfilters==1.5.1
parso==0.8.5
patsy==1.0.2
peft==0.18.0
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.5.0
plotly==6.4.0
plotly-express==0.4.1
pluggy==1.6.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.32.1
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
py2store==0.1.22
py3Dmol==2.5.3
pyarrow==22.0.0
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
pydssp==0.9.1
Pygments==2.19.2
pygtrie==2.5.0
pyparsing==3.2.5
pytest==9.0.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.28.0
s3transfer==0.14.0
sae-lens==6.21.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.1
sentry-sdk==2.43.0
setuptools==72.1.0
sgmllib3k==1.0.0
simple-parsing==0.1.7
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
stack-data==0.6.3
statsmodels==0.14.5
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
terminado==0.18.1
tf_keras==2.20.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.1
torch==2.8.0
torchtext==0.18.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformer-lens==2.16.1
transformers==4.57.1
transformers-stream-generator==0.0.5
trl==0.25.1
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
unsloth @ git+https://github.com/unslothai/unsloth.git@658a4703c5b7a3b3d3fc5b6c5b5ddc1e607f3b3b
unsloth_zoo @ git+https://github.com/unslothai/unsloth_zoo.git@0215e91538fcb53de3315562792245f555d0820e
uri-template==1.3.0
urllib3==2.5.0
wadler_lindig==0.1.7
wandb==0.22.3
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.15
wrapt==1.17.3
xxhash==3.6.0
yarl==1.22.0
zstd==1.5.7.2
